.pay-modal-container{
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}


.formContainer{
  display: flex;
  margin: 0 auto;
  border: 1px black solid;
  height: 500px;
  width: 400px;
}
.modal-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: yellow; */
}

.modal-amount-number{
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid blue; */
  height: 40px;
}

.amount-input-pay{
  width: 50%;
  padding: 5px;
  border-radius: 8px;
}

.modal-reciver_name{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;

}

.users-drop-down{
  width: 54%;
  padding: 5px;
  border-radius: 8px;
}


.modal-note{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.note-for-pay{
  width: 50%;
  padding: 5px;
  border-radius: 8px;
}
