
.testing-this-pmt{
  display: flex;
  width: 100%;
  height: 100vh;
}




.card-info{
  width: 100%;
 /* height: 100vh; */
 /* height: fit-content; */
  display: flex;
  max-height: fit-content;
  /* margin-top: 20px; */
  margin-right: 20px;
  margin-left: 50px;
  /* margin-top: 0px; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid grey;

  /* border: 1px solid blue; */
}






.card-info-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  width: 70%;

  /* height: 100; */
}


.pmt-methods-title{
  margin-bottom: 45px;
  margin-top: 30px;
}






.eachCard-pmt-details{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  background-color:white;
  height: 120px;
  border: 1px solid rgb(202, 202, 202);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: black;

}

.title-pmt{
  font-size: 30px;
  font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: -.05rem;
  /* font-style: oblique; */
}


.card-nickname{
  display: flex;
  margin-top: 10px;
  margin-left: 5px ;
}



.ccnumber-and-visalogo{
  display: flex;
  width: 170px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  /* align-items: flex-start;
  justify-self: baseline; */
  /* border: 1px blue solid; */
}



.button-for-delete-card{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}


.delete-button{
  background-color: transparent;
  border: 1px solid #008cff;
  padding: 2px;
  width: 170px;
  border: 1px #008cff solid;
  box-shadow: 0px 1px 2px rgb(143, 143, 143);
  margin-bottom: 30px;
  font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: oblique;
  color: #008cff;
  height: 27px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
}
.delete-button:hover{
  color: white;
  background-color: #008cff;
}


.add-a-card-link{
  margin-bottom: 25px;
}

.fa-cc-visa{
  color: blue;
  margin-left: 10px;
}




.add-a-card-link{
  display: flex;
  justify-content: center;
}




.add-a-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1px;
  width: 190px;
  height: 30px;
  border: 1px #008cff solid;
  color: #008cff;
  box-shadow: 0px 1px 2px rgb(143, 143, 143);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.add-a-card:hover{
  color: white;
  background-color: #008cff;
}
